{{#if this.topTags}}
  <h3 class="popular-tags-heading">
    {{theme-i18n "popular_tags.heading"}}
  </h3>

  {{#each this.topTags as |tag|}}
    <a href={{tag.url}} class="popular-tags--tag">
      {{tag.name}}
    </a>
  {{/each}}
{{/if}}
